/*  your css code here. If applicable */
#eg1{
	background-color: green;
}
#eg2{
	background-color: blue
}
td{
	border: 1px solid black;
}
.middle{
	border: 1px solid black;
	sapcing:1px;
	padding:1px
 }
